<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            {% for ta in tasks %}
                <li>
                    <p>{{ta.title}}</p>
                    {% for emp in ta.assigned_to.all %}
                        <p>{{emp.name}}</p>
                    {% endfor %}
                   
                    
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>