{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <div class = "w-1/2 mx-auto mt-8">
        <form method="POST">
     
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class= "bg-black text-white p-2 w-150 rounded-md">Submit</button>
    </form>


    </div>
  
</body>
</html>