{% extends "dashboard/dashboard.html" %}
{% block title %}
Manager Dashboard
{% endblock title %}

        {% block tasks %}

<!-- task table -->     
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="p-2 {% if 'success' in message.tags %}bg-green-500{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>



        <div class="mt-8 bg-white p-5 shadow-sm rounded-xl" >

            <div class="task items-center justify-between grid grid-cols-4">
                <div class="font-bold text-gray-500"> Task Table</div>
                <div class="font-bold text-gray-500">Priority</div>
                <div class="font-bold text-gray-500">Team</div>
                <div class="font-bold text-gray-500">Created at</div>               
            </div>            
        
            <!-- task item -->
            <div class="divide-b divide-gray-100 mt-5">

                {% for task in tasks %}            
        
                <div class="grid grid-cols-4 gap-4 items-center">
        
                    <div class="flex items-center gap-3">
                        <div class="w-2 h-2 bg-green-400 rounded-full"></div>
                        <div>
                            <span class="text-gray-500 font-bold"> {{task.title}} </span>                            
                        </div>        
                        <a href="{% url 'update-task' task.id %}" class='bg-green-500 rounded-md p-1'>
                            Edit
                        </a>

                        <form action="{% url 'delete-task' task.id %}" method='POST'>
                            {% csrf_token %}
                            <button type='submit' class='bg-red-500 rounded-md p-1'>
                                Delete
                            </button>
                        </form>

                       
                        
                    </div>
                    <div >
                       <span class="px-3 py-1 bg-blue-100 rounded-full text-blue-500 font-bold text-sm">
                        {{task.details.get_priority_display}}
                    </span>
                    </div>
        
                    <div class="flex -space-x-2">
                        {% for emp in task.assigned_to.all %}

                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm">
                            {{emp.name|slice:1}}
                        </div>
                        
                        {% endfor %}
                
                        </div>
                        <div>
                            <span class="text-gray-500 font-bold"> {{task.created_at|timesince}} </span>
                    </div>
    
                </div>

                {% endfor %}
        
        
            </div>                   
                
        </div>

        {% endblock tasks %}





        {% comment %}                     
                    <div class="flex items-center gap-3">
                        <div class="w-2 h-2 bg-yellow-400 rounded-full"></div>
                        <div><span class="text-gray-500 font-bold">Normal Task</span></div>
                    </div>
                    <div >
                       <span class="px-3 py-1 bg-gray-100 rounded-full font-bold text-gray-500 text-sm">Normal</span>
                    </div>
        
                    <div class="flex -space-x-2">
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm">
                            CA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm">
                            JS
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm">
                            RU
                        </div>
                    </div>
                    <div>
                        <span class="text-gray-500 font-bold">9 months ago</span>
                    </div>


        
                    <div class="flex items-center gap-3">
                        <div class="w-2 h-2 bg-red-400 rounded-full"></div>
                        <div><span class="text-gray-500 font-bold">High Task</span></div>
                    </div>
                    <div >
                       <span class="px-3 py-1 bg-red-100 rounded-full font-bold text-red-500 text-sm">High</span>
                    </div>
        
                    <div class="flex -space-x-2">
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm">
                            CA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm">
                            JS
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm">
                            RU
                        </div>
                    </div>
                    <div>
                        <span class="text-gray-500 font-bold">9 months ago</span>
                    </div>

         {% endcomment %}
